.body{
    margin:1rem;
    .test-heading h3 {
        color: rgba(31,32,34,.5);
        margin: 0 0 1.42857rem;
        font-size: 2rem;
        width: 100%;
        margin-top: 20px;
    }

    table {
        width: 100%;
      }
   
    .btn{
      margin-left: 0.3rem;
      background-color: #437289;
    }

    .buttons{
        float: right;
    margin-top: 2rem;
    }
}