::ng-deep .modal-dialog {
    max-width: 60%;
    width: 60%;
}

.patient {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    .button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            width: -webkit-fill-available;
            height: 50px;
            border-radius: 5px;
            font-size: 12px;
            padding: 5px 20px;
        }
    }
}

.questForm {
    .sec {
        color: white;
        background-color: #00c9d1;
    }
}
// .quest{
//     margin-top: 0.2rem;

// }

// .sub{
//     margin-top: 1rem;
// }
label {
    font-weight: 500;
}
mat-panel-title {
    font-weight: 600;
    font-size: large;
    // color: white;
}
// .mat-expansion-panel-header:not([aria-disabled=true]) {
//     background-color: #437289;

// }

element.style {
    height: 48px;
}
// ::ng-deep{
//     .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
//         color: #437289 !important;
//         mat-panel-title{
//             font-weight: 600;
//             color: #437289;
//         }
//     }
// }
mat-icon {
    cursor: pointer;
}
.addRow {
    mat-icon {
        font-size: 20px;
        text-align: center;
        background: #437289;
        color: #fff;
        font-weight: bold;
        border-radius: 15px;
        padding-top: 2px;
        cursor: pointer;
    }
    margin: 9px;
    padding: 6px;
    button {
        border-radius: 5px;
    }
}

.deleteTests {
    //   background-color: none !important;
    background: none;
    color: black;
}
.searchTest {
    width: 270px;
}
.defaultCheckBox {
    border: 1px solid lightgray;
    padding: 7px;
}

.progress-bar-icons {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        // width: 50%;
        justify-content: space-between;
        position: relative;
        margin-bottom: 10px;

        li {
            list-style-type: none;
            width: 25%;
            text-align: center;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                border-top: 1px solid #ccc;
                width: 50%;
                top: 56px;
                right: 0;
            }
            &::after {
                content: "";
                position: absolute;
                border-top: 1px solid #ccc;
                width: 50%;
                top: 56px;
                left: 3px;
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
            &:nth-child(1) {
                &::after {
                    display: none;
                }
            }
            span {
                display: inline-block;
                min-height: 45px;
            }
            p {
                background-color: #ccc;
                height: 22px;
                width: 22px;
                list-style-type: none;
                border-radius: 50%;
                position: relative;
                list-style-type: none;
                margin: auto;
                z-index: 2;
                // top: 10px;
            }

            &:last-child {
                p {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}
.active {
    &::before {
        border-top: 1px solid #3699ff !important;
    }
    &::after {
        border-top: 1px solid #3699ff !important;
    }
    p {
        background-color: white !important;
        border: 4px solid #3699ff;
        // position: relative;
        // &::before {
        //     content: "\f00c";
        //     font-family: FontAwesome;
        //     color: #fff;
        //     position: absolute;
        // }
    }
}
.comment {
    display: flex;
    justify-content: space-around;
}
.search-doctor {
    position: relative;
}

.search {
    position: absolute;
    top: 8px;
    left: 6px;
}

.search-doctor input {
    padding: 0px 33px;
}
.submitButton {
    button {
        background-color: #437289;
        color: #fff;
    }
}
.details {
    .table th {
        padding: 11px !important;
    }
    .table td {
        padding: 0px;
    }
    .previousdetails {
        text-align: center;
        padding: 10px !important;
        background-color: #437289;
        color: #fff;
    }
    .previousData {
        td {
            padding: 10px;
        }
    }
}
.cardLength {
    width: 100%;
    height: 180px;
    border-radius: 20px !important;
}

.printident {
    display: none !important;
}
.imagewidth {
    img {
        margin-bottom: 10px;
        max-height: 300px !important;
    }
}

@media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
    // .page-break { display: block !important; page-break-before: auto !important; }

    .printident {
        display: block !important;
    }

    .registrationform {
        display: none;
    }
}
.myform {
    border-bottom: 1px solid;
}
//   @media all {
//     .page-break { display: none; }
// }

.removeIcon {
    span {
        background: #437289;
        color: white;
        padding: 5px 12px;
        border-radius: 25px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }
}

.qnHeading {
    background-color: #ddd !important;
}
.modal-heading-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    .cancel-button {
        background: none;
        i {
            font-size: 20px;
        }
    }
}
.questionWidth {
    max-width: 42%;
}
/*  questionnaire   */
.questionnaire {
    table {
        .sno {
            width: 4%;
        }
        .question {
            width: 42%;
        }
        .answer {
            width: 36%;
        }
        .optionText {
            font-size: 11px;
        }
    }
}

.input-with-measure {
    display: flex;
    align-items: center;
    //   input {
    //     //   max-width: 200px;
    //   }
    span {
        padding-left: 5px;
    }
}
::ng-deep {
    .checkbox {
        .mat-checkbox-layout {
            white-space: inherit;
        }
        .mat-radio-label {
            white-space: inherit;
            align-items: flex-start;
        }
    }
}

.scanButton {
    float: right;
}
.btnDisabled {
    color: darkgrey;
}
.qr-scan {
    display: flex;
    // -ms-transform: scaleY(1); /* IE 9 */
    //   transform: scaleY(15);
    // transform: matrix(0, 0, 0, 0, -200px, -200px);
    //  transform: translate(0px,-50px);
}
// .qr-scan2 {
//     transform: matrix(1, 0, 0, 1, 254, 334);
// }
// .qr-display{
//     display: flex;
// }
.disable-button{
    :hover{
        color: darkgrey;
    }
}
 
  igx-time-picker {
    width: 400px;
}
::ng-deep{
    ng-select{
        width: 100% !important;
    }
}
.input-flex {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    ::ng-deep {
        .ng-select {
            width: 50% !important;
        }
        .ng-select .ng-select-container  {
            border: none;
            border-right: 1px solid #ccc !important;
            border-radius: 0;
        }
    }
    .borderRight{
        border: none;
        border-right: 1px solid #ccc !important;
        border-radius: 0;
    }
    input {
        border: none;
        width: 50%;
    }
}
.visiable{
    visibility: inherit;
}
.visiableNone{
    visibility: hidden;
}
