.header{
    background-color:#00c9d1;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 55px;
    .card{
        border: none;
    }
}
.logout{
    color: white;
}
.user{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    a{
        cursor: pointer;
    }
}

span{
    color: white;
    margin-top: 1rem;
    cursor: pointer;

}
@media print {
    .header{
      display: none;
    }
  }