.body{
    margin:1rem;
    .patient-heading h3 {
        color: rgba(31,32,34,.5);
        margin: 0 0 1.42857rem;
        font-size: 2rem;
        width: 100%;
        margin-top: 20px;
    }
    img{
        width:13rem;
        margin-right:1rem;
    }
    .star{
        font-size: 12px;
    }
}

.file-input{
    display: none;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
.add-button{
    background-color:  #437289;
    color: white;
}
mat-icon{
    font-size: 18px;
    cursor: pointer;
}
// .mat-icon-button {
//     height: 25px !important;
// }