<div class="body">
    <div class="test-heading">
        <h3>Questions</h3>
    </div>

    <div class="card mat-elevation-z8 mt-3">
        <h2 class="text-center heading">ADD QUESTIONS</h2>
        <div class="card-body">

            <div class="">
                <form [formGroup]="questionForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="usr">Section name:</label>
                                <div class="section">
                                    <select class="form-control" formControlName="section"
                                        (change)="onFilterbySection($event,'section')">
                                        <option value="" disabled>Select section name</option>
                                        <option *ngFor="let item of sectiondetails" [value]="item._id">{{item.name}}
                                        </option>
                                    </select>
                                    <div class="text-right">
                                        <mat-icon (click)="opendailog(myDialog,'create')">add</mat-icon>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="">Add Sub Queastion</label>
                                <mat-slide-toggle (change)="onChangetoggle($event)" class="form-control toggle"
                                    formControlName="isSubQuestion">Do You Want Add Sub Question in Existing Questions
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <!-- <div class="col-lg-1"></div> -->
                        <div class="col-lg-1 mt-4">
                            <div class="form-group">
                                <button class="" mat-raised-button (click)="clearAll()">Clear</button>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="usr">Question:</label>
                                <textarea *ngIf="questionForm.value.isSubQuestion == false" class="form-control"
                                    formControlName="question"></textarea>
                                <select *ngIf="questionForm.value.isSubQuestion == true" class="form-control"
                                    formControlName="question" (change)="onFilterbySection($event,'question')">
                                    <option [value]="null" disabled>Select Question</option>
                                    <option *ngFor="let item of SectionFilterData?.questions" [value]="item._id">
                                        {{item.question}}</option>
                                    <!-- <option>Blood Pressure</option>
                                   <option>Blood Pressure</option>
                                   <option>Blood Pressure</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2"
                            *ngIf="questionRes?.statusCode !== 200 && questionForm.value.isSubQuestion == false">
                            <div class="form-group">
                                <label for="">Type*:</label>
                                <select name="" id="" class="form-control" formControlName="type">
                                    <option value="radio">Radio</option>
                                    <option value="input">Input</option>
                                    <option value="na">NA</option>
                                    <option value="dropdown">Dropdown</option>
                                    <option value="time">Time</option>
                                    <option value="options">Options</option>
                                    <option value="checkbox">CheckBox</option>
                                    <option value="textArea">Text-Area</option>
                                    <option value="date">Date</option>
                                    <option value="paragraph">Paragraph</option>
                                    <option value="numeric">Numeric</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2"
                            *ngIf="questionRes?.statusCode !== 200 && questionForm.value.isSubQuestion == false">

                            <div class="form-group">
                                <label for="usr">Units:</label>
                                <!-- formControlName="unit" -->
                                <input class="form-control" formControlName="units" placeholder="example:Ltrs,Kgs">
                            </div>

                        </div>

                        <div class="col-lg-2"
                            *ngIf="questionRes?.statusCode !== 200 && questionForm.value.isSubQuestion == false">

                            <div class="form-group">
                                <label for="usr">Code:</label>
                                <input class="form-control" formControlName="code">
                            </div>

                        </div>


                    </div>
                    <div
                        *ngIf="questionRes?.statusCode !== 200 && questionForm.value.isSubQuestion == false && questionForm.value.type == 'options'  || questionForm.value.type == 'checkbox' || questionForm.value.type == 'dropdown'">
                        <label for="usr">Possiable Answers:</label>
                        <div class="row">
                            <div formArrayName="possiableAnswers" class="col-lg-2"
                                *ngFor="let item of questionForm.get('possiableAnswers')['controls'];  let i = index;">

                                <div [formGroupName]="i">
                                    <input class="form-control" formControlName="possiableAnswersOptions">
                                    <mat-icon class="addButton cancelButton" *ngIf="i !== 0"
                                        (click)="removeOptionForm(i)">cancel</mat-icon>
                                </div>
                            </div>
                            <mat-icon class="addButton" (click)="addoptionFormItem()">add</mat-icon>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2"
                            *ngIf="questionRes?.statusCode !== 200 && questionForm.value.isSubQuestion == false">
                            <!-- <label>Add Sub Question</label> -->
                            <div class="form-group mt-4">
                                <button class="" mat-raised-button (click)="addQuestinary('subquestion')">Add Sub
                                    Question +</button>
                            </div>
                            <!-- <mat-icon (click)="addQuestion()" *ngIf="questionRes?.statusCode !== 200">add</mat-icon> -->
                        </div>
                        <div class="col-lg-1"
                            *ngIf="questionRes?.statusCode !== 200 && questionForm.value.isSubQuestion == false">
                            <div class="form-group mt-4">
                                <button class="btn " mat-raised-button [disabled]="!questionForm.valid"
                                    (click)="addQuestinary('question')">
                                    Submit
                                </button>
                            </div>

                        </div>
                    </div>
                    <!-- questionForm.value.isSubQuestion == true  -->

                </form>
            </div>

            <div *ngIf="questionRes?.statusCode === 200 || questionForm.value.isSubQuestion == true">
                <form [formGroup]="subQuestionForm" class="mt-5">
                    <div>
                        <!-- <div class="text-right">
                        <button (click)="addSubQuestionFormItem()">Add</button>
                    </div>  -->
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="usr">Sub Question:</label>
                                    <textarea class="form-control" formControlName="question"></textarea>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="">Type:</label>
                                    <select name="" id="" class="form-control" formControlName="type">
                                        <option value="radio">Radio</option>
                                        <option value="input">Input</option>
                                        <option value="na">NA</option>
                                        <option value="dropdown">Dropdown</option>
                                        <option value="time">Time</option>
                                        <option value="options">Options</option>
                                        <option value="checkbox">CheckBox</option>
                                        <option value="textArea">Text-Area</option>
                                        <option value="date">Date</option>
                                        <option value="paragraph">Paragraph</option>
                                        <option value="numeric">Numeric</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="usr">Units:</label>
                                    <!-- formControlName="unit" -->
                                    <input class="form-control" formControlName="units" placeholder="example:Ltrs,Kgs">
                                </div>
                            </div>
                            <div class="col-lg-2">

                                <div class="form-group">
                                    <label for="usr">Code*:</label>
                                    <input class="form-control" formControlName="code">
                                </div>
                            </div>


                        </div>
                        <div
                            *ngIf="subQuestionForm.value.type == 'options' || subQuestionForm.value.type == 'checkbox' || subQuestionForm.value.type == 'dropdown'">
                            <label for="usr">Possible Answers:</label>
                            <div class="row">
                                <div formArrayName="possiableAnswers" class="col-lg-2"
                                    *ngFor="let item of subQuestionForm.get('possiableAnswers')['controls'];  let i = index;">
                                    <div [formGroupName]="i">
                                        <input class="form-control" formControlName="possiableAnswersOptions">
                                        <mat-icon class="addButton cancelButton" *ngIf="i !== 0"
                                            (click)="removeSubQuestionForm(i)">cancel</mat-icon>
                                    </div>
                                </div>
                                <mat-icon class="addButton" (click)="addSubQuestionForm()">add</mat-icon>
                            </div>

                        </div>
                        <div class="form-group mt-4">
                            <button class=" btn" mat-raised-button (click)="addSubQuestionFormItem()">Add</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive   example-container mat-elevation-z8"
                    *ngIf="subQuestionFormDetails?.subQuestions?.length >0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sub Question</th>
                                <th>Type</th>
                                <th>Options</th>
                                <th>Code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of subQuestionFormDetails?.subQuestions">
                                <td>{{item.question}}</td>
                                <td>{{item.type}}</td>
                                <td>
                                    <p *ngFor="let answers of item?.possibleAnswers">{{answers}}</p>
                                </td>
                                <td>{{item.code}}</td>
                                <td style="display: flex;">
                                    <mat-icon (click)="editSubQuestion(item)">edit</mat-icon>
                                    <mat-icon (click)="deleteSubQuestion(item)">delete</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element ;  let i=index"> {{i + (paginator.pageIndex * paginator.pageSize)+1}} </td>
            </ng-container>

            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> code </th>
                <td mat-cell *matCellDef="let element"> {{element?.code}} </td>
            </ng-container>

            <ng-container matColumnDef="question" >
                <th mat-header-cell *matHeaderCellDef> Question </th>
                <td mat-cell *matCellDef="let element"> {{element.question}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 
                    <span class="material-icons" (click)="openDialog(element)"> create </span>
                    <span class="material-icons" (click)="deleteQuestion(element)">delete</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;  let i=index"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div> -->
    <div class="table-responsive mat-elevation-z8">
        <table class="table">
            <tr>
                <th>S.No</th>
                <th class="w-50">Question</th>
                <th>Type</th>
                <th>Options</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
            <ng-template #rowTemplateOutlet let-index="index" let-index2="index2" let-item="item"
                let-Question="Question">
                <tr class="tableheader">
                    <td colspan="6" style=" text-align:center;" *ngIf="index == 0">
                        {{index2+1}}.{{item.name}}
                        <span class="material-icons ml-4" (click)="opendailog(myDialog,item)"> create </span>
                        <span class="material-icons" (click)="deleteQuestionSection(item)">delete</span>
                    </td>
                </tr>

                <tr>
                    <td>{{index+1}}</td>
                    <td>{{Question.question}}</td>
                    <td>{{Question.type}}</td>
                    <td>
                        <p *ngFor="let answers of Question?.possibleAnswers">{{answers}}</p>
                    </td>
                    <td>{{Question.code}}</td>
                    <td style="display: flex;">
                        <span class="material-icons" (click)="openDialog(Question)"> create </span>
                        <span class="material-icons" (click)="deleteQuestion(Question)">delete</span>
                    </td>
                </tr>
                <tr *ngFor="let subQuestion of Question?.subQuestions; let ind=index;">
                    <td>{{index+1}}.{{ind+1}}</td>
                    <td>{{subQuestion?.question}}</td>
                    <td>{{subQuestion?.type}}</td>
                    <td>
                        <p *ngFor="let answers of subQuestion?.possibleAnswers">{{answers}}</p>
                    </td>
                    <td>{{subQuestion?.code}}</td>
                    <td style="display: flex;">
                        <span class="material-icons" (click)="openDialog(subQuestion)"> create </span>
                        <span class="material-icons" (click)="deleteQuestion(subQuestion)">delete</span>
                    </td>
                </tr>
            </ng-template>

            <ng-container *ngFor="let item of questiondetails;let inde=index;">
                <ng-container *ngFor="let Question of item?.questions; let i=index;">

                    <ng-container
                        *ngTemplateOutlet="rowTemplateOutlet; context:{item: item, Question: Question, index: i,index2:inde}">
                    </ng-container>
                </ng-container>
            </ng-container>
        </table>
    </div>




</div>



<ng-template #myDialog>
    <div class="modal-heading-div">
        <h2 matDialogTitle class="mat">Add Section</h2>
        <button mat-button matDialogClose color="primary" class="cancel-button">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <mat-dialog-content>
        <div class="card mat-elevation-z8">
            <form [formGroup]="sectionForm" class="card-body">
                <!-- <h3 class="text-center">Add Section</h3> -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Section Name</label>
                            <input type="text" class="form-control" formControlName="sectionName">
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btnGroup" [disabled]="!sectionForm.valid" (click)="addSection()">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </mat-dialog-content>
</ng-template>