.nav-item a:hover{
    transition: all 300ms linear;
}
.sidebar{
  overflow-y: scroll;
    max-width: 197px;
    .sidebar-brand {
      justify-content: center;
      img {
        height: 80px;
        margin-bottom: 20px;
      }
    }    
    .sidebar-brand-text{
        font-size: 20px;
        text-transform: uppercase;
        padding-left: 16px;
        list-style: none;
        padding-top: 15px;
        padding: 17px;
        color: black;
        margin-bottom: 41px;
    }
    li{
        list-style: none;
        padding: 10px;
        i{
          margin-right: 7px;
        }
        a{
            text-decoration: none;
            padding: 3px;
            color:  #00c9d1;
        }
    }
  }
  .sidebar-dark .nav-item .nav-link{
    font-weight: 600 !important;
    
}
.sidebar .nav-item:hover {
  color: #fff !important;
  background-color: #437289;
  span{
      color: #fff;
  }
  i{
    color: #fff !important;
  }
}
.active{
  background-color:   #00c9d1;
  color: #fff !important;
  span{
      color: #fff !important;
  }
  i{
      color: #fff !important;
  }
}
span{
  text-transform: uppercase;
  font-size: 13px;
i{
  color:   #00c9d1 !important;
}
} 
::-webkit-scrollbar {
  display: none;
}


@media print {
  .sidebar{
    display: none;
  }
}
p{
  cursor: not-allowed;
  background-color: none !important;
  opacity: 0.2;
  .active{
    background-color: #fff
  }
}

