.btnGroup{
    text-align: end;
    margin-top: 5px;
    button{
        background-color:  #437289;
        color: white;
    }
}
.button{
    a{
        background-color:  #437289;
        color: white;
    }
}