<div class="card mt-3 bg-light">
    <div class="card-body">
        <div class="">
            <div class="row">
                <div class="col-lg-3">
                    <div class=" mt-2 mr-2">
                        <mat-form-field class="example-full-width searchTest">
                            <input type="text" placeholder="Search DD-Technician" aria-label="Number" matInput
                               >
                            <!-- (keyup)="checkPin($event)"  -->
                            <!-- <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete"
                                (optionSelected)="onChangeTechnicianValue($event.option.value)">
                                <mat-option *ngFor="let option of Technician" [value]="option">
                                    {{option?.name}} <b>|</b> {{option?.type}}
                                </mat-option>
                            </mat-autocomplete> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class=" mt-2 mr-2">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Search  By Name or PID" aria-label="Number" matInput
                                >



                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class=" mt-2 mr-2">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Search " matInput >


                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class=" mt-2 mr-2">
                <div class="row">
                    <div class="col-lg-4">

                        <h3> Technician Name: Sanjeev</h3>
                    </div>
                    <div class="col-lg-8">


                    </div>

                </div>
            </div>
            <div class="table-responsive details">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>patient name</th>
                            <th>test</th>
                            <th>test</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>dummy data</td>
                            <td>dummy data</td>
                            <td>dummy data</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
<div class="btn-group mt-2 mr-3">
    <div>

        <button class="btn" mat-button>Save</button>
    </div>
</div>