.body{
    margin:1rem;
    .test-heading h3 {
        color: rgba(31,32,34,.5);
        margin: 0 0 1.42857rem;
        font-size: 2rem;
        width: 100%;
        margin-top: 20px;
    }

    .fields{
        height:  12rem;
        border-bottom: 1px solid #ced4da;;
    }
    .tables{
        margin-top: 1rem;
    }
    table {
        width: 100%;
      }

    .credentials{
        display:flex;
        margin-top: 1rem;
        label{
            margin-top: 0.4rem;
        }
        input{
            margin-left: 0.1rem;
        }
        span{
            cursor: pointer;
            color: #437289;
            margin-top: 0.3rem;
        }
    }
}