<div class="country-container mt-3">
    <div class="container-fluid">
      <div class="card card-custom example example-compact gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Lab Technician</h3>
          </div>
          <div class="card-toolbar">
            <div class="example-tools justify-content-centerr">
              <button (click)="addLabTechnician()" class="btn btnGroup">
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="mx-auto" *ngIf="labTechnicianDetails?.length === 0">No Data Found</div>
            <div class="table-responsive example-container mat-elevation-z8"  *ngIf="labTechnicianDetails?.length > 0">
                <table class="table  table-hover ">
                   <thead>
                       <tr>
                        <th (click)="sortEvent('firstName')">S.no
                          <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'firstName'" ></i>
                          <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'firstName'"></i>
                         </th>
                         <th (click)="sortEvent('name')">Name
                          <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'name'" ></i>
                          <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'name'"></i></th>
                         <th (click)="sortEvent('emailAddress')">Email
                          <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'emailAddress'" ></i>
                          <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'emailAddress'"></i></th>
                         <th (click)="sortEvent('mobileNumber')">Mobile
                          <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'mobileNumber'" ></i>
                          <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'mobileNumber'"></i></th>
                         <th  (click)="sortEvent('subdivision')">subdivision
                          <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'subdivision'" ></i>
                          <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'subdivision'"></i></th>
                         <th  (click)="sortEvent('department.name')">department
                          <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'department.name'" ></i>
                          <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'department.name'"></i></th>
                         <th>Action</th>
                       </tr>
                   </thead> 
                   <tbody>
                       <tr *ngFor="let item of labTechnicianDetails ; let i=index">
                           <td>{{ i + pageEvent?.pageIndex * pageEvent?.pageSize + 1 }}</td>
                           <td>{{ item.name }}</td>
                           <td>{{ item.emailAddress }}</td>
                           <td>{{ item.mobileNumber }}</td>
                           <td>{{ item.subdivision }}</td>
                           <td>{{ item.department?.name }}</td>
                           <td>
                            <mat-icon (click)="editLabTechnician(item)">edit</mat-icon>
                            <mat-icon (click)="deleteLabTechnician(item)">delete</mat-icon>
                           </td>
                       </tr>
                   </tbody>
                </table>
                <!-- pagination div starts from here -->
                <mat-paginator [length]="length" 
                              [pageSize]="pageSize" 
                              [pageSizeOptions]="pageSizeOptions" 
                              (page)="onPageEvent($event)">
                </mat-paginator>
              
                <!-- pagination div ends here -->
            </div>
        </div>
        </div>
    </div>
  </div>

  