<div>
    <div class="doctor-fields">
        <h3>Add Payments</h3>
        <!-- <div class="input-group mb-3 row">
            <div class="col-lg-2">
                <img src="./../../../assets/salman-khan-1584090953.jpg" alt="Avatar" class="avatar">
            </div>
            <div>
                <input type="file" class="form-control file-input" placeholder="link" aria-label="Username"
                aria-describedby="basic-addon1" #fileinput>
                <button type="button" (click)="fileinput.click()" class="btn btn-primary">select image</button>
            </div>
        </div>   -->
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Bill No" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Patient" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Doctor" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Date" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Charges" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Tax" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Discount" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control field" placeholder="Total" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="row buttons">
        <div class="col-lg-6 cancel">
            <button type="button" (click)="onClose()" class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-lg-6 add-doctor">
            <button type="button" class="btn btn-primary">Add Payments</button>
        </div>
    </div>
</div>
