button{
    background-color: #00c9d1 !important;
    color: white;
}
.button{
    a{
        background-color:  #00c9d1 !important;
        color: white;
    }
}

.buttons{
    // .cancel button{
    //     float: left;
    // }
    .add-doctor{
        text-align: end;
    }
}